<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.angularjs.org/1.2.16/angular.js"></script>
    <script src="script.js"></script>
  </head>

  <body ng-app="App">
  <div class="navbar-header">
        <a class="navbar-brand" href="#"><h1><b>TATA</b> Consultancy Services PVT Ltd.</h1></a>
      </div>
	  <br>
	  </br>
      <div ng-controller="CrudCtrl">
    <table>
      <tr>
        <td>Name</td>
        <td>Country</td>
        <td><span ng-click="add()">Add New</span></td>
      </tr>
      <tr ng-repeat="profile in Profiles">
        <td>
          <input type="text" ng-model="profile.name" ng-show="profile.editable">
          <span ng-hide="profile.editable">{{ profile.name }}</span>
        </td>
        <td>
          <input type="text" ng-model="profile.country" ng-show="profile.editable">
          <span ng-hide="profile.editable">{{ profile.country }}</span>
        </td>
        <td>
          <span ng-click="edit($index)" ng-hide="profile.editable">Edit</span>
          <span ng-click="save($index)" ng-show="profile.editable">Save</span>
          <span ng-click="delete($index)"> | Delete</span>
        </td>
      </tr>
    </table>
  </div>
  </body>

</html>